@model Casgem_Api_Consume.DTOs.CustomerDTOs.CreateCustomerDto
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Müşteri Ekleme Sayfası</h1>

<form method="post">
    <label>Müşteri Adı: </label>
    <input type="text" class="form-control border" asp-for="Name" />
    <br />
    <label>Şehri: </label>
    <input type="text" class="form-control border" asp-for="City" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>